[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
scikit-learn = "*"
pandas = "*"
numba = "*"
jpholiday = "*"
lightgbm = "*"
catboost = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
tests = "pytest -v"
